services:
  registry:
    image: registry:2
    restart: unless-stopped
    environment:
      REGISTRY_AUTH: htpasswd
      REGISTRY_AUTH_HTPASSWD_REALM: Registry Realm
      REGISTRY_AUTH_HTPASSWD_PATH: /auth/registry.password
      REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY: /data
    volumes:
      - ./registry/registry.password:/auth/registry.password
      - ./registry/data:/data

  cloudflared:
    image: cloudflare/cloudflared:latest
    command: tunnel --url http://registry:5000
    depends_on:
      - registry
